.wpsalez 
{

}
.wpsalez_product_list
{
 margin: 5px;
 padding: 5px;
 border-radius: 5px;
 background-color: #101010;
}
.wpsalez_product_list .wpsalez_products_item
{
width: 100%;
margin-bottom: 25px;
padding-bottom: 7px;
border-bottom: 1px dotted #FFF;
color: #FFF;
}
/* --------------------------------------------- */
.wpsalez_product_list1
{
 margin: 5px;
 padding: 5px;
 border-radius: 5px;
 background-color: #101010;
 width: 230px;
}
.wpsalez_product_list1 .wpsalez_products_item
{
padding: 7px;
color: #FFF;
}
/* --------------------------------------------- */
.wpsalez_opacity50{
filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);
-moz-opacity:.5;
-khtml-opacity:.5;
opacity:.5;
}
#wpsalez_darkbox{
position:absolute;
top:0;
left:0;
width:100%;
overflow:hidden;
background-color:#000;
z-index:10;
}
.wpsalez_window
{
position: absolute;
/* top:  30%; */
left: 30%;
width: 40%;
min-height: 200px;
height: 390px;
/* height: 50%; */
background-color: #FFF;
border-radius: 7px;
border: 1px solid #000;
color: #000;
text-align: left;
padding: 10px;
overflow: auto;
}
.wpsalez_window a
{
color: #0000FF;
text-decoration: none;
text-shadow: none;
}
.wpsalez_window a:hover
{
color: #0000FF;
text-decoration: underline;
}
.wpsalez_loading
{
        width: 100%;
        height: 100%;
        background-image: url('../i/ajax-loader.gif');
        background-repeat: no-repeat;
        background-position: center center;
}
.wpsalez_loading2
{
           width:100%;
           height: 30px;
        background-image: url('../i/ajax-loader.gif');
        background-repeat: no-repeat;
        background-position: center center;
}
.wpsalez_h1
{
 margin-bottom: 10px;
 text-shadow: none;
}
.wpsalez_result
{
  margin-top: 5px;
  width: 100%;
  float: left;
  color: #000;
  font-size: 12px;
}
.wpsalez_small_loading
{
        width: 32px;
        height: 16px;
        background-image: url('../i/ajax-loader-small.gif');
        background-repeat: no-repeat;
        background-position: center center;
}
.wpsalez_cancel_buy
{
        float: left;
        color: #0000FF;
        text-decoration: underline;
        text-shadow: none;
        cursor: pointer;
}
.wpsalez_info
{
        background-color: #fffacd;
        border: 1px solid #b5a642;
        padding: 5px;
        border-radius: 5px;
}
.wpsalez_buybutt
{
background-color: #3181c0;
background: -moz-linear-gradient(top, rgba(49,130,193,1) 0%, rgba(30,71,139,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(49,130,193,1)), color-stop(100%,rgba(30,71,139,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(49,130,193,1) 0%,rgba(30,71,139,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(49,130,193,1) 0%,rgba(30,71,139,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(49,130,193,1) 0%,rgba(30,71,139,1) 100%); /* IE10+ */
background: linear-gradient(top, rgba(49,130,193,1) 0%,rgba(30,71,139,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3182c1', endColorstr='#1e478b',GradientType=0 ); /* IE6-9 */
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
display: block;
color: white;
text-align: center;
line-height: 25px;
padding: 3px;
vertical-align: middle;
cursor: pointer;
margin: 7px auto 0px auto;
text-shadow:1px 1px 2px #333333;
}
.wpsalez_buya1paybutton
{

}
.wpsalez_a1smsbuybutt
{

}
/* QIWI */
.wpsalez_qiwi_action_list_onstring
{

}
.wpsalez_qiwi_action_list_onstring li
{
 display: inline;
 margin-right: 20px;
}

.wpsalez_qiwi_end_button
{
   border: 1px solid black;
   padding: 5px;
    border-radius: 3px;
}
.wpsalez_cart_link
{
background-color: #3181c0;
background: -moz-linear-gradient(top, rgba(49,130,193,1) 0%, rgba(30,71,139,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(49,130,193,1)), color-stop(100%,rgba(30,71,139,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(49,130,193,1) 0%,rgba(30,71,139,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(49,130,193,1) 0%,rgba(30,71,139,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(49,130,193,1) 0%,rgba(30,71,139,1) 100%); /* IE10+ */
background: linear-gradient(top, rgba(49,130,193,1) 0%,rgba(30,71,139,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3182c1', endColorstr='#1e478b',GradientType=0 ); /* IE6-9 */
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
display: block;
color: white;
text-align: center;
line-height: 25px;
padding: 3px;
vertical-align: middle;
cursor: pointer;
margin: 14px auto 7px auto;
width:50%;
text-shadow:1px 1px 2px #333333;
}
.wpsalez_cartbutton
{
}
.wpsalez_cart_cart_list
{
}
.wpsalez_cart_tr
{
border-botton: 1px dashed grey;
}
.wpsalez_cart_delete_link
{
background-color: #3181c0;
background: -moz-linear-gradient(top, rgba(49,130,193,1) 0%, rgba(30,71,139,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(49,130,193,1)), color-stop(100%,rgba(30,71,139,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(49,130,193,1) 0%,rgba(30,71,139,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(49,130,193,1) 0%,rgba(30,71,139,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(49,130,193,1) 0%,rgba(30,71,139,1) 100%); /* IE10+ */
background: linear-gradient(top, rgba(49,130,193,1) 0%,rgba(30,71,139,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3182c1', endColorstr='#1e478b',GradientType=0 ); /* IE6-9 */
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
display: block;
color: white;
text-align: center;
line-height: 25px;
padding: 3px;
vertical-align: middle;
cursor: pointer;
margin: 14px auto 7px auto;
width:50%;
min-width:120px;
text-shadow:1px 1px 2px #333333;
}
.wpsalez_cart_bill_link
{
background-color: #3181c0;
background: -moz-linear-gradient(top, rgba(49,130,193,1) 0%, rgba(30,71,139,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(49,130,193,1)), color-stop(100%,rgba(30,71,139,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(49,130,193,1) 0%,rgba(30,71,139,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(49,130,193,1) 0%,rgba(30,71,139,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(49,130,193,1) 0%,rgba(30,71,139,1) 100%); /* IE10+ */
background: linear-gradient(top, rgba(49,130,193,1) 0%,rgba(30,71,139,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3182c1', endColorstr='#1e478b',GradientType=0 ); /* IE6-9 */
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
display: block;
color: white;
text-align: center;
line-height: 25px;
padding: 3px;
vertical-align: middle;
cursor: pointer;
margin: 14px auto 7px auto;
width:50%;
min-width:220px;
text-shadow:1px 1px 2px #333333;
}
.wpsalez_cart_cost
{
}
.wpsalez_cart_cost
{
}
.wpsalez_cart_cost_itogo
{
}
